.footer {
  font-size: 1.4rem;
  padding: 2.8rem 3.6rem;
  background-color: $color-grey-900;

  .copyright {
    font-size: 1.6rem;
    text-align: center;
    color: $color-grey-400;

    @include respond(phone) {
      font-size: 1.4rem;
      padding: 2.4rem;
    }

    &__mark {
      color: $color-primary-600;
    }

    &__user {
      color: $color-grey-200;
    }
  }
}
