.social {
  max-width: fit-content;
  padding: 1.6rem 0 2.4rem;

  @include respond(phone) {
    padding: 0;
  }

  &__list {
    display: flex;
    column-gap: 1.8rem;

    @include respond(tab-port) {
      column-gap: 0.6rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: block;
      color: $color-grey-500;
      padding: 0.6rem;
    }

    &:hover,
    &:active {
      color: $color-grey-400;
    }
  }

  &.sec-home &__list {
    flex-direction: column;
    row-gap: 1rem;
    position: absolute;
    bottom: 0;
    left: -1.6rem;
    transform: translateY(-40%);
  }

  &.sec-home &__link {
    &:link,
    &:visited {
      width: 4.6rem;
      font-weight: 400;
      background-color: $color-grey-100;
      color: $color-grey-900;
      border-radius: 10rem;
      padding-inline: 1.8rem;
      display: flex;
      align-items: center;
      overflow: hidden;
      transition: width 0.3s ease-in-out;
    }

    svg {
      flex-shrink: 0;
      padding-right: 0.6rem;
    }

    &:hover,
    &:active {
      width: 12.4rem;
    }
  }
}
