.social {
  max-width: fit-content;
  padding: 1.6rem 0 2.4rem;

  @include respond(phone) {
    padding: 0;
  }

  .borderTop {
    border-top: 2px solid $color-grey-800;
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 1.8rem;

    @include respond(tab-port) {
      column-gap: 0.6rem;
    }
  }

  &.sec-home &__list {
    flex-direction: column;
    row-gap: 1.8rem;

    position: absolute;
    bottom: 5%;
    left: 0;
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grey-500;
      padding: 0.6rem;
    }
  }

  &.sec-home &__link {
    &:hover,
    &:active {
      color: $color-grey-300;
    }
  }

  .nine {
    &:hover,
    &:active {
      color: $color-grey-400;
    }
  }

  &__text {
    color: $color-grey-800;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 6rem;
    text-transform: uppercase;
    transform: rotate(-90deg);
    user-select: none;
  }
}
