@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
/* Custom Color Palette */
/* Grey */
/* Blue */
/* Red */
/* 
$MEDIA - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
/* Animations */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 1;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    opacity: 1;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #374151;
  line-height: 1.5;
  font-size: 1.6rem;
  overflow-x: hidden;
  position: relative;
}

.container {
  max-width: 130rem;
  padding: 0 3.6rem;
  margin: 0 auto;
}
@media only screen and (max-width: 56.25em) {
  .container {
    padding: 0 2.8rem;
  }
}
@media only screen and (max-width: 40.5em) {
  .container {
    padding: 0 2rem;
  }
}

button {
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

*:disabled {
  cursor: not-allowed !important;
}

input,
button,
textarea,
select {
  font: inherit;
}

select:disabled,
input:disabled {
  background-color: #e5e7eb;
  color: #6b7280;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: 2px solid #fe6d5e;
  outline-offset: -1px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

ul {
  list-style: none;
}

img {
  /* For dark mode */
  filter: grayscale(0) opacity(100%);
}

::selection {
  background-color: #fe6d5e;
  color: #111827;
}

/* *:focus {
  outline: none;
  box-shadow: 0 0 6px 3px var(--color-primary);
} */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #fe4c44;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.6);
  width: 50px;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } 
}
*/
.heading {
  font-weight: 700;
  color: #1f2937;
  letter-spacing: -0.5px;
}
.heading__primary {
  font-size: 3.6rem;
  margin-bottom: 2rem;
  color: #d1d5db;
  line-height: 1.2;
}
.heading__primary--big {
  font-size: 4.6rem;
  padding-top: 4.6rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 75em) {
  .heading__primary {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 40.5em) {
  .heading__primary {
    font-size: 2.4rem;
  }
}
.heading__primary .username {
  font-size: 6.4rem;
  color: #fe5e55;
}
@media only screen and (max-width: 75em) {
  .heading__primary .username {
    font-size: 5.2rem;
  }
}
@media only screen and (max-width: 40.5em) {
  .heading__primary .username {
    font-size: 3.6rem;
  }
}
.heading__secondary {
  font-size: 4.4rem;
  text-transform: uppercase;
  max-width: max-content;
  margin-bottom: 6rem;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .heading__secondary {
    font-size: 3.6rem;
  }
}
@media only screen and (max-width: 40.5em) {
  .heading__secondary {
    font-size: 3rem;
  }
}
.heading__secondary::before {
  content: "";
  width: 50%;
  height: 4px;
  background-color: #fe5e55;
  position: absolute;
  bottom: 0;
}
.heading__tertiary {
  font-size: 3rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .heading__tertiary {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 40.5em) {
  .heading__tertiary {
    margin-bottom: 1rem;
  }
}

.logo-lnk {
  display: inline-block;
}

.logo {
  height: 3rem;
}

.u-padding-vertical-hugo {
  padding-block: 9.6rem;
}
@media only screen and (max-width: 40.5em) {
  .u-padding-vertical-hugo {
    padding-block: 6.4rem;
  }
}

.btn {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem 2.4rem;
  border: none;
  outline: none;
  border-radius: 8px;
  transition: all 0.3s ease-in-out !important;
}
@media only screen and (max-width: 40.5em) {
  .btn {
    font-size: 1.6rem;
    padding: 0.6rem 1rem;
  }
}
.btn__primary {
  background-color: #fe5e55;
  color: #fff;
}
.btn__primary:hover {
  background-color: #fe4c44;
}
.btn__secondary {
  background-color: #1f2937;
  box-shadow: inset 0 0 0 1px #d1d5db;
  color: #d1d5db;
}
.btn__secondary:hover {
  background-color: #f9fafb;
  color: #374151;
}

.error-message {
  font-size: 2.2rem;
  text-align: center;
  color: #b91c1c;
}
.error-message p {
  margin-bottom: 1.6rem;
}

.header-page {
  background-color: #111827;
  text-align: center;
  padding: 9.6rem 0 6.4rem;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.4rem;
  background-color: #f3f4f6;
  padding: 0.6rem;
  border-radius: 5rem;
  max-width: fit-content;
  margin: 0 auto 4rem;
}
@media only screen and (max-width: 40.5em) {
  .filter {
    border-radius: 2rem;
  }
}
.filter__btn {
  background-color: transparent;
  border: none;
  font-weight: 500;
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  border-radius: 50px;
  transition: all 0.3s;
}
@media only screen and (max-width: 40.5em) {
  .filter__btn {
    padding: 0.6rem 1rem;
  }
}
.filter__btn:hover, .filter__btn--active {
  background-color: #fe6d5e;
  color: #f9fafb;
}

.project {
  background-color: white;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px #e5e7eb;
}
.project:hover .project__img {
  transform: rotate(-3deg) scale(1.1);
}
.project:hover .project__link {
  opacity: 0.9;
  visibility: visible;
  transform: scale(1);
}
.project__img-container {
  height: 20rem;
  overflow: hidden;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}
.project__img {
  width: 100%;
  transition: all 0.3s ease;
  opacity: 0.8;
}
.project__link {
  width: 100%;
  height: 100%;
  background-color: #111827;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  transition: all 0.3s ease;
}
.project__link--live, .project__link--github {
  height: 4rem;
  padding: 0.8rem;
  border-radius: 50%;
  background-color: #374151;
  color: #f9fafb;
  transition: color 0.1s ease, background-color 0.1s ease !important;
}
.project__link--live:hover, .project__link--github:hover {
  background-color: #f9fafb;
  color: #111827;
}
.project__content {
  padding: 2.4rem 2.4rem 2rem;
  display: flex;
  flex-direction: column;
}
.project__title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
}
.project__description {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}
.project__tech {
  padding: 0.2rem 0.6rem;
  border-radius: 10px;
}
.project__tech[data-tech=html] {
  background-color: #e44d26;
}
.project__tech[data-tech=css] {
  background-color: #2965f1;
}
.project__tech[data-tech=js] {
  background-color: #d5c241;
}
.project__tech[data-tech=react] {
  background-color: #009bc5;
}
.project__tech[data-tech=nextjs] {
  background-color: #000;
}
.project__tech[data-tech=reduxtoolkit] {
  background-color: #764abc;
}
.project__tech[data-tech=reactrouter] {
  background-color: #6366f1;
}
.project__tech[data-tech=reactquery] {
  background-color: #00d1b2;
}
.project__tech[data-tech=tailwindcss] {
  background-color: #2482ac;
}
.project__tech[data-tech=supabase] {
  background-color: #ed8936;
}
.project__tech[data-tech=sass] {
  background-color: #cf649a;
}
.project__tech[data-tech=bootstrap] {
  background-color: #6f10f4;
}
.project__tech[data-tech=styledcomponents] {
  background-color: #319795;
}
.project__tech[data-tech=framermotion] {
  background-color: #958f1b;
}
.project__tech[data-tech=formik] {
  background-color: #19386f;
}
.project__tech[data-tech=reacthooksform] {
  background-color: #f56565;
}
.project__tech-list {
  font-size: 1.2rem;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.project-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin-bottom: 2.4rem;
}
@media only screen and (max-width: 56.25em) {
  .project-item {
    grid-template-columns: 1fr;
  }
}
.project-item__content {
  padding-inline: 2rem;
}
.project-item__index {
  font-size: 7.4rem;
  font-weight: 900;
}
@media only screen and (max-width: 56.25em) {
  .project-item__index {
    font-size: 6.4rem;
  }
}
@media only screen and (max-width: 40.5em) {
  .project-item__index {
    font-size: 5rem;
  }
}
.project-item__title {
  font-size: 3.6rem;
  margin-bottom: 0.8rem;
}
@media only screen and (max-width: 56.25em) {
  .project-item__title {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 40.5em) {
  .project-item__title {
    font-size: 2.4rem;
  }
}
.project-item__description {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .project-item__description {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 40.5em) {
  .project-item__description {
    font-size: 1.4rem;
  }
}
.project-item .project__tech {
  font-size: 1.3rem;
}
.project-item .project__tech-list {
  margin-bottom: 3.6rem;
}
.project-item__link:link, .project-item__link:visited {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #374151;
  border: 1px solid #d1d5db;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}
@media only screen and (max-width: 40.5em) {
  .project-item__link:link, .project-item__link:visited {
    width: 4.2rem;
    height: 4.2rem;
  }
}
.project-item__link:hover, .project-item__link:active {
  background-color: #4b5563;
}
.project-item__link-list {
  padding-block: 2.4rem;
  display: flex;
  gap: 1.4rem;
}
.project-item hr {
  border-color: #d1d5db;
}
.project-item__img {
  width: 100%;
  aspect-ratio: 16/11;
  border: 1px solid #111827;
}
@media only screen and (max-width: 56.25em) {
  .project-item__img {
    aspect-ratio: 10/5;
  }
}
.project-item__img-container {
  width: 100%;
}
@media only screen and (max-width: 56.25em) {
  .project-item__img-container {
    order: -1;
  }
}
.project-item__pagination {
  display: flex;
  justify-content: flex-end;
  gap: 1.4rem;
}
.project-item__pagination .btn {
  display: flex;
}

.loader-container {
  height: 44.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  font-size: 10px;
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
.social {
  max-width: fit-content;
  padding: 1.6rem 0 2.4rem;
}
@media only screen and (max-width: 40.5em) {
  .social {
    padding: 0;
  }
}
.social .borderTop {
  border-top: 2px solid #1f2937;
}
.social__list {
  display: flex;
  align-items: center;
  column-gap: 1.8rem;
}
@media only screen and (max-width: 56.25em) {
  .social__list {
    column-gap: 0.6rem;
  }
}
.social.sec-home .social__list {
  flex-direction: column;
  row-gap: 1.8rem;
  position: absolute;
  bottom: 5%;
  left: 0;
}
.social__link:link, .social__link:visited {
  color: #6b7280;
  padding: 0.6rem;
}
.social.sec-home .social__link:hover, .social.sec-home .social__link:active {
  color: #d1d5db;
}
.social .nine:hover, .social .nine:active {
  color: #9ca3af;
}
.social__text {
  color: #1f2937;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 6rem;
  text-transform: uppercase;
  transform: rotate(-90deg);
  user-select: none;
}

.header {
  width: 100%;
  padding-inline: 4rem;
  background-color: #111827;
  color: #d1d5db;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header.sticky {
  height: 7rem;
  opacity: 0.98;
  box-shadow: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  position: fixed;
  z-index: 999;
}
@media only screen and (max-width: 56.25em) {
  .header .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    transform: translateX(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #374151;
    box-shadow: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
    transition: all 0.3s ease-in;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
@media only screen and (max-width: 40.5em) {
  .header .main-nav {
    width: 100%;
  }
}
.header .main-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.8rem;
}
@media only screen and (max-width: 56.25em) {
  .header .main-nav__list {
    flex-direction: column;
    gap: 1.6rem;
  }
}
.header .main-nav__link:link, .header .main-nav__link:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 2rem 1.6rem;
}
@media only screen and (max-width: 56.25em) {
  .header .main-nav__link:link, .header .main-nav__link:visited {
    font-size: 2rem;
  }
}
.header .main-nav__link:hover, .header .main-nav__link:active {
  color: #fe5e55;
}
.header .main-nav__icon {
  display: none;
  background-color: transparent;
  color: inherit;
  border: none;
  z-index: 9;
}
@media only screen and (max-width: 56.25em) {
  .header .main-nav__icon {
    display: block;
  }
}
.header .mobile__nav {
  width: 4.4rem;
  height: 4.4rem;
}
.header .mobile__nav--close {
  display: none;
}
.header.open-nav .main-nav {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
.header.open-nav .mobile__nav--close {
  display: block;
}
.header.open-nav .mobile__nav--open {
  display: none;
}

.footer {
  font-size: 1.4rem;
  padding: 2.8rem 3.6rem;
  background-color: #111827;
}
.footer .copyright {
  font-size: 1.6rem;
  text-align: center;
  color: #9ca3af;
}
@media only screen and (max-width: 40.5em) {
  .footer .copyright {
    font-size: 1.4rem;
    padding: 2.4rem;
  }
}
.footer .copyright__mark {
  color: #fe5e55;
}
.footer .copyright__user {
  color: #e5e7eb;
}

.contact {
  min-height: 90vh;
  padding-block: 9.6rem;
  color: #9ca3af;
  background-color: #1f2937;
}
@media only screen and (max-width: 40.5em) {
  .contact {
    padding-block: 6.4rem;
  }
}
.contact .heading__secondary {
  color: #f9fafb;
}
.contact-cols {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
@media only screen and (max-width: 40.5em) {
  .contact-cols {
    flex-direction: column;
    gap: 3.6rem;
  }
}
.contact__info {
  flex: 1;
}
.contact__info-list {
  margin-top: 3.2rem;
  margin-bottom: 3.6rem;
}
@media only screen and (max-width: 40.5em) {
  .contact__info-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 2rem;
  }
}
.contact__info-list li:not(:last-child) {
  margin-bottom: 1.6rem;
}
.contact__item {
  max-width: fit-content;
  display: flex;
  align-items: center;
}
.contact__item > * {
  cursor: pointer;
}
.contact__item:hover *, .contact__item:active .contact__item__link {
  color: #d1d5db;
}
.contact__link:link, .contact__link:visited {
  font-size: 1.6rem;
  padding: 1rem;
}
.contact .position {
  font-size: 1.6rem;
  padding: 1rem;
}
.contact__form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
}
@media only screen and (max-width: 40.5em) {
  .contact__form {
    width: 100%;
    order: -1;
  }
}
.contact__form > div {
  position: relative;
}
.contact__form-input {
  width: 100%;
  font-size: 1.4rem;
  background-color: #e5e7eb;
  color: #111827;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: 3px solid transparent;
  transition: all 0.3s;
}
.contact__form-input:focus {
  outline-color: #fe6d5e;
}
.contact__form-input:focus + label, .contact__form-input:not(:placeholder-shown) + label {
  top: -2.6rem;
  left: 0;
  color: #d1d5db;
}
.contact__form textarea {
  height: 20rem;
  resize: vertical;
}
.contact__form-label {
  font-size: 1.6rem;
  position: absolute;
  top: 0.6rem;
  left: 10px;
  pointer-events: none;
  color: #6b7280;
  transition: top 0.3s, left 0.3s;
}

.home {
  max-width: 130rem;
  margin: 0 auto;
  padding: 2rem 2.4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .home {
    flex-direction: column;
    gap: 6rem;
    padding-top: 4rem;
  }
}
.home-section {
  min-height: 100vh;
  padding: 8rem 0;
  background-color: #111827;
  color: #d1d5db;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .home-section {
    padding-bottom: 4.6rem;
  }
}
.home .job {
  font-size: 2.4rem;
  margin-bottom: 4.4rem;
}
@media only screen and (max-width: 56.25em) {
  .home .job {
    font-size: 1.8rem;
  }
}
.home__buttons {
  display: flex;
  gap: 2.4rem;
}
@media only screen and (max-width: 56.25em) {
  .home__buttons {
    justify-content: center;
  }
}
.home__img-box {
  background: linear-gradient(to top, #374151 25%, #111827 70%);
  border-radius: 6rem;
  text-align: center;
  overflow: hidden;
}
@media only screen and (max-width: 56.25em) {
  .home__img-box {
    width: 60%;
    border-radius: 3rem;
  }
}
.home__img {
  width: 100%;
  margin-bottom: -1rem;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  align-items: center;
  gap: 4.8rem;
}
@media only screen and (max-width: 56.25em) {
  .about {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 40.5em) {
  .about {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.4rem;
  }
}
.about-section {
  padding-block: 9.6rem 4.8rem;
}
@media only screen and (max-width: 40.5em) {
  .about-section {
    padding-block: 6.4rem;
  }
}
.about__img-box {
  text-align: center;
  max-width: 48rem;
  background: linear-gradient(to top, #4b5563 25%, #fff 70%);
  border-radius: 6rem;
  overflow: hidden;
}
@media only screen and (max-width: 56.25em) {
  .about__img-box {
    border-radius: 3rem;
  }
}
.about__img {
  width: 90%;
  height: 100%;
  margin-bottom: -1rem;
}
@media only screen and (max-width: 75em) {
  .about__text-box {
    padding-right: 1.2rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .about__text-box {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 40.5em) {
  .about__text-box {
    padding-right: 0;
  }
}
.about__description {
  font-size: 1.8rem;
  line-height: 1.4;
  color: #4b5563;
  margin-bottom: 5.2rem;
}
@media only screen and (max-width: 56.25em) {
  .about__description {
    font-size: 1.6rem;
    margin-bottom: 3.6rem;
  }
}
@media only screen and (max-width: 40.5em) {
  .about__description {
    margin-bottom: 2.4rem;
  }
}
.about__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .about__info {
    flex-direction: column;
  }
}
.about__info p {
  margin-bottom: 1rem;
}
.about .title {
  display: inline-block;
  width: 7rem;
  font-weight: 500;
}

.experience-section {
  padding-block: 9.6rem;
  background-color: #f3f4f6;
  position: relative;
}
@media only screen and (max-width: 40.5em) {
  .experience-section {
    padding-block: 6.4rem;
  }
}
.experience__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 9rem;
  row-gap: 2.6rem;
  position: relative;
}
@media only screen and (max-width: 40.5em) {
  .experience__container {
    grid-template-columns: 1fr;
  }
}
.experience__line {
  width: 4px;
  height: 100%;
  background-color: #fe6d5e;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 40.5em) {
  .experience__line {
    top: 1rem;
    left: 0;
  }
}
.experience__item {
  padding: 2.4rem 1.8rem;
  background-color: #e5e7eb;
  border-radius: 6px;
  border-bottom: 4px solid #fe6d5e;
  position: relative;
}
@media only screen and (max-width: 40.5em) {
  .experience__item {
    margin-left: 3rem;
    grid-column: 1/-1 !important;
    grid-row: span 1 !important;
  }
}
.experience__item[data-id=edu-1] {
  grid-column: 1/2;
  grid-row: 1/2;
}
.experience__item[data-id=edu-2] {
  grid-column: 1/2;
  grid-row: 3/4;
}
.experience__item[data-id=exp-1] {
  grid-column: 2/-1;
  grid-row: 2/3;
}
.experience__item[data-id=exp-2] {
  grid-column: 2/-1;
  grid-row: 4/5;
}
.experience__item[data-id=exp-3] {
  grid-column: 2/-1;
  grid-row: 5/6;
}
.experience__item[data-id=exp-4] {
  grid-column: 2/-1;
  grid-row: 6/7;
}
.experience__item[data-id=exp-5] {
  grid-column: 2/-1;
  grid-row: 7/8;
}
.experience__item[data-id=exp-6] {
  grid-column: 2/-1;
  grid-row: 8/9;
}
.experience__icon {
  padding: 4px;
  border-radius: 50%;
  color: #fff;
  background-color: #fe6d5e;
  position: absolute;
  top: 0;
  z-index: 9;
}
@media only screen and (max-width: 40.5em) {
  .experience__icon {
    left: -4.5rem !important;
  }
}
.experience__icon[data-icon=education] {
  right: -6.2rem;
}
.experience__icon[data-icon=experience] {
  left: -6rem;
}
.experience__degree {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.6rem;
}
@media only screen and (max-width: 56.25em) {
  .experience__degree {
    font-size: 1.8rem;
  }
}
.experience__institution {
  font-size: 1.6rem;
  color: #6b7280;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .experience__institution {
    font-size: 1.4rem;
  }
}
.experience__duration {
  font-size: 1.4rem;
  margin-left: 0.6rem;
}
@media only screen and (max-width: 56.25em) {
  .experience__duration {
    font-size: 1.2rem;
  }
}
.experience__details {
  font-size: 1.6rem;
  color: #4b5563;
  line-height: 1.4;
}
@media only screen and (max-width: 56.25em) {
  .experience__details {
    font-size: 1.4rem;
  }
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
@media only screen and (max-width: 56.25em) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 40.5em) {
  .services {
    grid-template-columns: 1fr;
  }
}
.services-section {
  padding-block: 9.6rem;
}
@media only screen and (max-width: 40.5em) {
  .services-section {
    padding-block: 6.4rem;
  }
}
.services__item {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  overflow: hidden;
  position: relative;
}
.services__item:hover * {
  color: #ffe7e6 !important;
}
.services__item:hover .services__line {
  height: 100%;
}
.services__line {
  width: 100%;
  height: 0;
  background-color: #fe6d5e;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.3s ease;
}
.services__icon {
  padding: 0.8rem;
  border-radius: 50%;
  border: 2px dotted #ffb5b1;
  color: #fe6d5e;
  margin-bottom: 0.8rem;
}
.services__title {
  font-size: 2rem;
  color: #374151;
  margin-bottom: 1.2rem;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.8rem;
}
.skills-section {
  padding-block: 9.6rem;
  background-color: #f3f4f6;
}
@media only screen and (max-width: 40.5em) {
  .skills-section {
    padding-block: 6.4rem;
  }
}
.skills__item {
  text-align: center;
  padding: 1.2rem;
  border-radius: 8px;
  background-color: #e5e7eb;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s;
}
.skills__item:hover {
  background-color: #d1d5db;
}
.skills__item:hover .skills__img {
  transform: scale(1.1);
}
.skills__img {
  width: 14rem;
  height: 6rem;
  transition: transform 0.3s;
}
@media only screen and (max-width: 56.25em) {
  .skills__img {
    width: 10rem;
  }
}
@media only screen and (max-width: 40.5em) {
  .skills__img {
    width: 8rem;
    height: 4rem;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 56.25em) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 40.5em) {
  .projects {
    grid-template-columns: 1fr;
  }
}
.projects-section {
  padding-block: 9.6rem 4.8rem;
}
@media only screen and (max-width: 40.5em) {
  .projects-section {
    padding-block: 6.4rem;
  }
}

.view-more {
  max-width: fit-content;
  background-color: #f9fafb;
  color: #fe5e55;
  padding: 0.6rem 1rem;
  margin: 4.8rem auto 0;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-more:hover span {
  margin-right: 1.2rem;
}
.view-more span {
  margin-right: 0.6rem;
  transition: margin-right 0.3s ease;
}

.project-page {
  min-height: 65vh;
  background-color: #1f2937;
  color: #f9fafb;
}
.project-page__length {
  font-size: 2rem;
  text-align: end;
  margin-bottom: 1.4rem;
  color: #d1d5db;
}

/*# sourceMappingURL=style.css.map */
